@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card-background{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(185, 75%, 39%);
}

.container{
    width: 350px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.container-top{
    min-height: 150px;
    width: 350px;
    background-image: url(/public/images/bg-pattern-card.svg);
    background-size: cover;
}

.container-middle{
    margin-bottom: -115px;
    background-color: white;
    min-height: 250px;
}

img{
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid white;
}

.info{
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.age{
    color:hsl(0, 0%, 59%);
    font-weight: 300;
}

.place{
    font-weight: 300;
    font-size: 15px;
    color:hsl(0, 0%, 59%);
}

.container-bottom{
    height: 100px;
    background-color: white;
    border-top: 1px solid hsl(0, 0%, 59%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    line-height: 1.6;
}

h4{
    font-size: 18px;
}

.labels {
    display: block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color:hsl(0, 0%, 59%);
}